/*! CSS Used from: http://127.0.0.1:5500/assets/default/production/styles.12f01a526613eb513295beed85fb653e.css */
a {
    color: #242424;
    border: 0;
}

a:hover {
    color: #777;
}

a {
    background-color: rgba(0, 0, 0, 0);
}

img {
    border-style: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    vertical-align: middle;
}

@media print {
    * {
        background: rgba(0, 0, 0, 0) !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

a {
    text-decoration: none;
}

.a {
    border: 0;
    text-decoration: none;
}

.productsMenu-submenu.__fluidGrid .productsMenu-submenu-w {
    -moz-columns: 240px auto;
    columns: 240px auto;
    -moz-column-gap: 20px;
    column-gap: 20px;
}

.productsMenu-submenu-w {
    padding: 20px 20px 0;
}

.productsMenu-submenu-i {
    display: table;
    -moz-column-break-inside: avoid;
    break-inside: avoid-column;
    padding-bottom: 20px;
}

.productsMenu-submenu-a {
    display: block;
    border: 0;
}

.productsMenu-submenu-t {
    font-size: 15px;
    font-weight: bold;
    display: block;
}

.productsMenu-tabs {
    display: flex;
    box-shadow: 1.5px 0 7px 0 #d4d4d4;
}

.productsMenu-tabs-content {
    background: #fff;
}

.productsMenu-tabs-content .productsMenu-submenu-w {
    display: none;
}

.productsMenu-tabs-content .productsMenu-submenu-w.__visible {
    display: block;
    padding: 8px;
}

.productsMenu-tabs-switch {
    position: relative;
    width: 210px;
}

.productsMenu-tabs-list {
    text-align: left;
}

.productsMenu-tabs-list__tab:hover {
    background: #fff;
    margin: -1px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #fff;
}

.productsMenu-tabs-list__link {
    display: flex;
    align-items: center;
    padding: 9px 17px 9px 17px;
}

.productsMenu-tabs-list__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 10px;
    width: 48px;
    height: 48px;
}

.productsMenu-tabs-list__icon img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

/*! CSS Used from: http://127.0.0.1:5500/style.css */
a {
    color: #242424;
    border: 0;
}

a:hover {
    color: #777;
}

a {
    background-color: rgba(0, 0, 0, 0);
}

img {
    border-style: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    vertical-align: middle;
}

@media print {
    * {
        background: rgba(0, 0, 0, 0) !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

a {
    text-decoration: none;
}

.a {
    border: 0;
    text-decoration: none;
}

.productsMenu-submenu.__fluidGrid .productsMenu-submenu-w {
    -moz-columns: 240px auto;
    columns: 240px auto;
    -moz-column-gap: 20px;
    column-gap: 20px;
}

.productsMenu-submenu-w {
    padding: 20px 20px 0;
}

.productsMenu-submenu-i {
    display: table;
    -moz-column-break-inside: avoid;
    break-inside: avoid-column;
    padding-bottom: 20px;
}

.productsMenu-submenu-a {
    display: block;
    border: 0;
}

.productsMenu-submenu-t {
    font-size: 15px;
    font-weight: bold;
    display: block;
}

.productsMenu-tabs {
    display: flex;
    box-shadow: 1.5px 0 7px 0 #d4d4d4;
}

.productsMenu-tabs-content {
    background: #fff;
}

.productsMenu-tabs-content .productsMenu-submenu-w {
    display: none;
}

.productsMenu-tabs-content .productsMenu-submenu-w {
    display: block;
    padding: 8px !important;
}

.productsMenu-tabs-switch {
    position: relative;
}

.productsMenu-tabs-list {
    text-align: left;
}

.productsMenu-tabs-list__tab {
    background: #fff;
    background: #fff;
    flex-grow: 1;
}

.productsMenu-tabs-list__link {
    display: flex;
    align-items: center;
    padding: 9px 17px 9px 17px;
}

.productsMenu-tabs-list__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 10px;
    width: 48px;
    height: 48px;
}

.productsMenu-tabs-list__icon img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

/*! CSS Used from: Embedded */
.productsMenu-tabs-list__tab {
    min-width: 100px;
    width: 300px;
    margin: 5px;
}

.productsMenu-submenu-w {
    width: auto !important;
}

.productsMenu-tabs-content {
    display: block;
}

.productsMenu-tabs-list__tab>.productsMenu-tabs-content:after {
    content: "";
    height: 5px;
    background-color: #717947;
    height: 2px;
    display: block;
}

.__visible {
    display: block;
}

.productsMenu-submenu-i {
    width: 100%;
    padding: 5px !important;
}