
.productsMenu-tabs-list__tab {
    background: #fff;
    /* margin: -1px 0; */
    /* border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; */
    background: #fff;
      /* changes */
    min-width: 100px;
    width: 31%;
    margin: 10px;
   
    /* flex-grow: 1; */
  
}

.productsMenu-tabs-list {
    display: flex; 
    flex-wrap: wrap;
    padding: 20px;
    
    /* justify-content: center; */
}
.productsMenu-submenu-w {
    width: auto !important;
}

.productsMenu-tabs-content {
    display: block;
}

.productsMenu-tabs-list__tab > .productsMenu-tabs-content:after{
    content: "";
    /* border: 1px solid black; */
    height: 5px;
    background-color: #717947;
    height: 2px;
    display: block;
}

.productsMenu-submenu-i {
    width: 100%;
    padding: 5px !important;
}
.productsMenu-tabs {
    max-height: 70vh;
    overflow-y: auto;
}

.productsMenu-tabs-content .productsMenu-submenu-w {
    display: block;
    padding: 8px !important;
    /* opacity: 1; */
    /* transition:  opacity 1s linear; */
}

.productsMenu-tabs-switch {
    position: relative;
    width: auto;
   
    /* changes */
    /* width: 210px; */
}

.productsMenu-tabs-list__tab:hover 
{
    background: #fff;
    transform: scale(1.05);
    background: #fff;
    transition: transform 0.3s ease;
}

.productsMenu-tabs-list__tab {
    transition: transform 0.3s ease;
    /* padding: 0px; */
}

.categories-grid.__normalGrid .categories-unit {
    display: inline-block;
    width: 24%
}


.productsMenu-submenu {
    width: 1000px;
}



@media screen and (max-width: 1280px) {
    .categories-grid.__normalGrid .categories-unit {
        width: 33%
    }

    .categories-grid.__fluidGrid {
        -moz-columns: 2;
        columns:2;
    }

    .productsMenu-tabs-list {
        width: 100%;
        justify-content: center;
    }

    .productsMenu-submenu { 
        width: 100vw;
        
    }

    .productsMenu-tabs {
        width: 80vw;
        left: -40px;
    }

    .productsMenu-tabs-list__tab {
        flex-grow: 1;
    }

    .productsMenu-tabs-list {
        padding: 5px;
    }
    
}

@media screen and (min-width: 1440px) {
    .categories-grid.__normalGrid .categories-unit {
        width: 16%;
    }

    /* .categories-grid.__fluidGrid {
        -moz-columns: 6;
        columns: 6;
    } */
}

@media screen and (max-width: 600px) {
    .productsMenu-tabs-list__tab {
        width: 100%;
    }
 
    .categories-grid.__fluidGrid {
        -moz-columns: 1;
        columns:1;
    }
}

.productsMenu-tabs-list__tab {
    font-size: 16px;
 
}

.productsMenu-tabs-list__icon {
    width: 70px;
    height: 70px;
}
.productsMenu-tabs-list__icon img {
    width: auto;
    height: 70px;
}

.categories-unit-image img {
    vertical-align: bottom;
    height: 210px;
}






/*



@media screen and (max-width: 1000px) {
    .categories-grid.__normalGrid .categories-unit {
        min-width: 100px; 
        width: 33.3333333333%;
    }
    .container {
        min-width: auto;
    }
    .layout-wrap {
        min-width: auto;
    }

    .categories-grid {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
}


@media screen and (max-width: 700px) {
    .categories-grid.__normalGrid .categories-unit {
        width: 50%;
    }
    .layout-wrap {
        padding: 0 0 0 20px;
    }
    .banners__wrapper .wrapper {
        min-width: auto;
    } 
    .categories-grid.__normalGrid {
        margin: 0px;
    }
}

@media screen and (max-width: 500px) {


} 

*/