
.productsMenu-tabs-list__tab {
    background: #fff;
    /* margin: -1px 0; */
    /* border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; */
    background: #fff;
      /* changes */
    flex-grow: 1;
    min-width: 100px;
    width: 300px;
    margin: 10px;
}

.productsMenu-submenu-w {
    width: auto !important;
}

.productsMenu-tabs-content {
    display: block;
}

.productsMenu-tabs-list__tab > .productsMenu-tabs-content:after{
    content: "";
    /* border: 1px solid black; */
    height: 5px;
    background-color: #717947;
    height: 2px;
    display: block;
}

.__visible {
    display: block;
    /* padding: 8px !important; */
    /* opacity: 1; */
    /* transition:  opacity 1s linear; */
}
.productsMenu-submenu-i {
    width: 100%;
    padding: 5px !important;
}
.productsMenu-tabs {
    max-height: 70vh;
    overflow-y: auto;
}




.productsMenu-tabs-content .productsMenu-submenu-w {
    display: block;
    padding: 8px !important;
    /* opacity: 1; */
    /* transition:  opacity 1s linear; */
}

.productsMenu-tabs-switch {
    position: relative;

    /* changes */
    /* width: 210px; */
    
}
